.toolbar-background {
  background-color: #ffac00;
}


.modal-close
{
  zoom: 150%;
  color: white;
  float: left
}

.modal-shift-event b
{
  color: #9CBA6A
}

.modal-denied-event
{
  float: right;
}

.modal-item ion-label
{
  zoom: 110%;
}
