.toolbar-background {
  background-color: #ffac00;
}

event-modal p {
  zoom: 130%;
}

.modal-close
{
  zoom: 150%;
  color: white;
  float: left
}

.modal-item h1
{
  font-weight: 100;
}

.modal-shift-event b
{
  color: #9CBA6A
}

.modal-denied-event
{
  float: right;
}
