<ion-header style="text-align: center;">
  <ion-navbar>
    <ion-title>
      Event details
    </ion-title>
    <ion-buttons>
      <button ion-button style="zoom: 150%; color: white; float: left" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item text-wrap *ngFor="let item of dateEvent" no-lines="true">
    <ion-row id="modal-grid">
      <ion-col text-wrap>
        <h1 style="color: #993300; font-weight: 100"><b>{{item.EventStart | date:'MM/dd'}}</b></h1>
        <ion-row></ion-row><br>
        <p *ngIf="item.EventTypeId == 1"><b><span style="color: #9CBA6A">SHIFT</span></b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A"><p></p>Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>

        <p *ngIf="item.EventTypeId == 2"><b>UNAVAILABLE</b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A">Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>

        <p *ngIf="item.EventTypeId == 3"><b><span style="color: #FFAD00">VACATION</span></b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A">Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>

        <p *ngIf="item.EventTypeId == 4"><b><span style="color: #C41A26">COVER</span></b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A">Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>

        <p *ngIf="item.EventTypeId == 6"><b><span style="color: #677A46">CLOCK</span></b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A">Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>

        <p *ngIf="item.EventTypeId == 7"><b><span style="color: #FFAD00">ABSENT</span></b>
          <span *ngIf="item.EventStatusId == 1" style="float: right; color: #9CBA6A">Approved</span>
          <span *ngIf="item.EventStatusId == 2" style="float: right; color: #C41A26">Request</span>
          <span *ngIf="item.EventStatusId == 4" style="float: right">Request Denied</span>
        </p>
      </ion-col>
    </ion-row>
    <ion-col text-wrap>
    <ion-row>
        <p><b>Start:</b> {{item.EventStart | date:'shortTime'}}</p>
    </ion-row><br>
    <ion-row>
        <p><b>End:</b> {{item.EventEnd | date:'shortTime'}}</p>
    </ion-row><br>
    <ion-row>
        <p><b>Position: </b>{{positionName}}</p>
    </ion-row><br>
    <ion-row>
      <p style="float: right" *ngIf="item.BreakStart"><b>Lunch Break: </b> {{item.BreakStartTime | date: 'shortTime'}}</p>
      <p style="float: right" *ngIf="!item.BreakStart "><b>Lunch Break: </b> (None listed)</p>
    </ion-row><br>
    <ion-row>
        <p *ngIf="item.Notes != ''">
          <b>Notes: </b>{{item.Notes}}
            <button ion-button clear (click)="openNoteEdit(item.Notes, item.ScheduleEventId)" >
            <ion-icon name="create" end></ion-icon>
            </button>
        </p>
        <p *ngIf="item.Notes == ''">
          <b>Notes:</b> (None)
            <button ion-button clear (click)="openNoteEdit(item.Notes, item.ScheduleEventId)">
            <ion-icon name="create" end></ion-icon>
            </button>
        </p>
    </ion-row><br>
    <br>
    <button *ngIf="item.EventTypeId == 1" ion-button color="danger" (click)="onCoverRequestClick()">Request Cover</button>
    </ion-col>
  </ion-item>
</ion-content>
