#home-grid p
{
  zoom: 130%;
}

#next-grid p {
  zoom: 130%;
}

#date-picker-row h6
{
  text-align: center;
  font-weight: 200;
}

#date-picker-col
{
  text-align: center;
}

#date-picker-col > button
{
  background-color: #9B3705
}

.shift-event b
{
  color: #9CBA6A
}

.approved-event
{
  float: right;
  color: black;
}

.request-event
{
  float: right;
  color: #C41A26;
}

.vacation-event b
{
  color: #FFAD00;
}

.cover-event b
{
  color: #C41A26;
}

.clock-event b
{
  color: #677A46;
}

.absent-event b
{
  color: #FFAD00;
}

.denied-event
{
  float: right;
}

.expand-arrow
{
  zoom: 130%
}

.error-text
{
  color: orangered;
}

#next-event-item h6
{
  font-weight: 200;
}
