<!--
  Generated template for the WeekView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
  <ion-row></ion-row>
  <ion-row></ion-row>
  <h6 text-center="true" style="font-weight: 200">{{userName.toUpperCase()}}'S NEXT 7 DAYS:</h6>
  <ion-item *ngIf="hasWeekEvents">
    <ion-buttons>
      <ion-item text-wrap *ngFor="let item of weekInfo" (click)="showEventModal(item.EventStart)">
        <ion-row style="border: 1px; border-color: gainsboro">
          <ion-col col-5>
            <h1 style="color: #993300; font-weight: 100"><b>{{item.EventStart | date:'MM/dd'}}</b></h1>
            <p *ngIf="item.EventTypeId == 1"><b><span style="color: #9CBA6A">SHIFT</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>

            <p *ngIf="item.EventTypeId == 2"><b><span style="zoom: 80%">UNAVAILABLE</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>

            <p *ngIf="item.EventTypeId == 3"><b><span style="color: #FFAD00">VACATION</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>

            <p *ngIf="item.EventTypeId == 4"><b><span style="color: #C41A26">COVER</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>

            <p *ngIf="item.EventTypeId == 6"><b><span style="color: #677A46">CLOCK</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>

            <p *ngIf="item.EventTypeId == 7"><b><span style="color: #FFAD00">ABSENT</span></b>
              <span *ngIf="item.EventStatusId == 1" style="color: #9CBA6A">Approved</span>
              <span *ngIf="item.EventStatusId == 2" style="color: #C41A26">Request</span>
              <span *ngIf="item.EventStatusId == 4">Request Denied</span>
            </p>
          </ion-col>
          <ion-col col-5>
            <p><b>Start:</b> {{item.EventStart | date: 'shortTime'}}</p>
            <p><b>End:</b> {{item.EventEnd | date: 'shortTime'}}</p>
          </ion-col>
          <ion-col col-2>
            <button ion-button clear="true">
              <ion-icon name="arrow-dropright-circle" end style="zoom: 130%"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-buttons>
  </ion-item>
  <ion-item *ngIf="!hasWeekEvents" text-wrap>
    <p style="color: orangered">Looks like you don't have any events scheduled for the next seven days!</p>
  </ion-item>
</ion-content>
